@charset "UTF-8";

$container-large-desktop: 900px;
$font-size-base: 17px;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.container {
  margin-top: 50px;
  padding: 0 40px;
}
