@charset "UTF-8";

$container-large-desktop: 900px;
$font-size-base: 17px;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.container {
  margin: 50px auto;
  padding: 0 40px;
}

.nav {
  text-align: center;
  padding-bottom: 20px;
}

.nav a {
  margin: 0 2px;
  padding: 2px 6px;
  background: #000000;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.nav a:hover {
  color: #000000;
  background: #ffffff;
}

footer {
  text-align: right;
  margin-top: 50px;
}

footer p {
  margin: 0;
}
