@charset "UTF-8";

$container-large-desktop: 900px;
$font-size-base: 17px;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.container {
  margin: 50px auto;
  padding: 0 40px;
}

footer {
  text-align: right;
  margin-top: 50px;
}

footer p {
  margin: 0;
}
