{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Blog{% endblock %}
{% block body %}
  {% for post in this.pagination.items %}
  <div class="blog-entry">
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
    <p class="blog-entry-summary">
      {{ post.summary }}
      <a class="blog-entry-more" href="{{ post|url }}">Read more...</a>
    </p>
    <p class="blog-entry-meta">
      by
      {% if post.twitter_handle %}
        <a href="https://twitter.com/{{ post.twitter_handle }}">{{ post.author }}</a>
      {% else %}
        {{ post.author }}
      {% endif %}
      on {{ post.pub_date|dateformat }}
    </p>
  </div>
  {% endfor %}

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
