{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="blog-post">
    <h2>{{ this.title }}</h2>
    <p class="meta">
      written by
      {% if this.twitter_handle %}
        <a href="https://twitter.com/{{ this.twitter_handle
        }}">{{ this.author or this.twitter_handle }}</a>
      {% else %}
        {{ this.author }}
      {% endif %}
      on {{ this.pub_date }}
    </p>
    <br/>
    {{ this.body }}
    <div class="post-tags">
      <span>tags:</span>
      {% for tag in this.tags.split(',') %}
        <a href="">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
