<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome{% endblock %} — Shipeng Feng's Writings</title>
    <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <a href="{{ '/'|url }}" {% if this._path == '/' %} class="active"{% endif %}>Welcome</a>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <a href="{{ href|url }}" {% if this.is_child_of(href) %} class="active"{% endif %}>{{ title }}</a>
        {% endfor %}
      </div>

      {% block body %}{% endblock %}

      <footer>
        <p>&copy; Copyright 2016 by Shipeng Feng.</p>
        <p>Content licensed under the Creative Commons attribution-noncommercial-sharealike License.</p>
      </footer>
    </div>
    <script type=text/javascript src="{{ '/static/gen/app.js'|asseturl }}" charset="utf-8"></script>
  </body>
</html>
